@page
@model RecruitCatAlexiskh.Pages.OurTeamModel
@{
    ViewData["Title"] = "Our Team";
}

<div class="container">
    <h1>Meet Our Team</h1>
    <div class="row">
        <div class="col-md-4">
            <img src="~/images/IMG_6688.jpg" class="img-fluid rounded-circle" alt="Kenneth A.">
            <h3>Kenneth A.</h3>
            <p>Founder & CEO</p>
            <p>A motivated ceo always reaching for the highest achievements and success.</p>
        </div>
        <div class="col-md-4">
            <img src="~/images/face-7217717_1280.jpg" class="img-fluid rounded-circle" alt="Smith J.">
            <h3>Smith J.</h3>
            <p>Chief Operating Officer of Recruitment</p>
            <p>A devoted meber of our team!</p>
        </div>
        <div class="col-md-4">
            <img src="~/images/man-4568761_1280.jpg" class="img-fluid rounded-circle" alt="Joha M.">
            <h3>Joha M.</h3>
            <p>Chief Technology Officer of Recruitment</p>
            <p>An inspiration to the people around, very passionate about RecruitCat.</p>
        </div>
    </div>
</div>